<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rss.feed.reader.rssfeedreader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddDirectory"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".FeedDirectory" />
        <activity
            android:name=".AddFeed"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".EditFeeds" />
        <activity android:name=".ArticleActivity" />
        <activity android:name=".SaveArticle" />
        <activity android:name=".FilterActivity" />
        <activity
            android:name=".AddFilter"
            android:windowSoftInputMode="stateVisible" />/>
    </application>

</manifest>